---
import { Languages } from "../../../utils/types";
import yaml from 'js-yaml';

export async function getStaticPaths() {
    const pages = [ "1", "2" ];

    return Object.values(Languages).map((language) => {
        return pages.map((text) => {
            return {
                params: { lang: language, projects: text },
                props: { language, text },
                };
        })
  });
}

const { language, text } = Astro.props;
---
<div>ciao {language}:{text}</div>