---
import { Languages } from "../../../utils/types";

export async function getStaticPaths() {
    const pages = [ "1", "2" ];

    return Languages.values().map((language) => {
        return pages.map((text) => {
            return {
                params: { lang: language, projects: text },
                props: { language: language, text },
                };
        })
  });
}

const { language, text } = Astro.props;
---
<div>ciao {language}:{text}</div>