---
import Default from "../../../layouts/Default.astro";
import { Languages } from "../../../utils/types";
import { parseFrontmatter } from "../../../utils/utils";

export async function getStaticPaths() {
    const projects = await Astro.glob('/src/data/projects/*.md');
    return Languages.values().map((language) => {
        return projects.map((project) => {
            return {
                params: { lang: language, projects: project.frontmatter.slug },
                props: { language: language, projectRaw: project },
                };
        })
  });
}

const { language, projectRaw } = Astro.props;
const project = parseFrontmatter(projectRaw.frontmatter, language)

---
<Default title="projects" language={language}>
    <div>ciao {language}:{project.info.descriptions.description}</div>
</Default>
