---
import './index.md'

export async function getStaticPaths() {
  return [
    { params: { project: '1' } },
    { params: { project: '2' } },
    { params: { project:  3  } }  // Can be a number too!
  ];
}

const { project } = Astro.params;
---
<h1>{project}</h1>