---
import { Languages } from '../utils/types';

export interface Props {
	language: Languages;
}


const { language } = Astro.props;

const contacts = "/" + language + "/learnmore/contacts/";
const about_us = "/" + language + "/learnmore/about_us/";
const official = "/" + language + "/learnmore/official/";
---
<div class="disclamer">
	<table class="pcenter fullWidth">
		<tr class="pcenter">
			<td class="pcenter">
				<table class="pcenter center">
					<tr class="pcenter">
						<td class="pcenter">
							<a class="linktextformat" href={contacts}>
								{language === Languages.EN ? <p>Contact us</p> : <p>Contattaci</p>}
							</a>
						</td>
						<td>&nbsp;–&nbsp;</td>
						<td class="pcenter">
							<a class="linktextformat" href={about_us}>
								{language === Languages.EN ? <p>About us</p> : <p>Su di noi</p>}
							</a>
						</td>
					</tr>
				</table>
				<tr class="pcenter fullWidth">
					<td class="pcenter fullWidth">
						<a href={official} style="color: inherit;">
							{
								language === Languages.EN && (
									<p>This website is not affiliated to Politecnico di Milano</p>
								)
							}
							{
								language === Languages.IT && (
									<p>Questo sito non è affliliato al Politecnico di Milano</p>
								)
							}
						</a>
					</td>
				</tr>
			</td>
			<div style="height: 10px;"></div>
		</tr>

	</table>
</div>
