---
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
import Navbar from '../components/Navbar.astro';
import Disclaimer from '../components/Disclaimer.astro';
import type { Languages } from '../utils/types';
import '../styles/fontawesome/css/all.css'

export interface Props {
	title: string;
	show_back_to_home?: boolean,
	language: Languages
}

const { title, show_back_to_home, language } = Astro.props;
---

<!DOCTYPE html>
<html class="h-full">

<head>
	<Meta title = {title}/>

</head>

<body class="h-full">

	<slot/>

</body>

</html>

<script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>

