---
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
import Navbar from '../components/Navbar.astro';
import Disclaimer from '../components/Disclaimer.astro';
import type { Languages } from '../utils/types';
import '../styles/fontawesome/css/all.css'

export interface Props {
	title: string;
	show_back_to_home?: boolean,
	language: Languages
}

const { title, show_back_to_home, language } = Astro.props;
---

<!DOCTYPE html>
<html>

<head>
	<Meta title = {title}/>

</head>

<body>

	<slot/>

</body>

</html>

<script>
	var dark_theme = 0;
	if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
		document.documentElement.setAttribute('data-theme', 'dark');
		dark_theme = 1;
	} else {
		document.documentElement.setAttribute('data-theme', 'light');
	}
</script>

