---
import Default from './Default.astro';
import type { Languages, Project } from '../utils/types';

const { frontmatter } = Astro.props;
const projects: Project[] = frontmatter.projects;
---
<Default title={frontmatter.title} language={frontmatter.language}>
    abc <br>
    abc <br>
    abc <br>
    {projects.map(project => (
        <li>{project.title} - {project.page_titles.map(page_title => page_title.string)}</li>
      ))}
</Default>